@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

h1,
p,
input {
  font-family: "Rubik", sans-serif;
}

.bgHelper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;

  @media screen and (min-width: 60rem) {
    padding: 2.5rem;
    font-size: 2rem;
  }
}

.inputBox {
  display: flex;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;

  input {
    width: 82%;
    height: 100%;
    padding-left: 1.3rem;
    border: none;
    font-size: 1rem;
  }

  button {
    width: 18%;
    height: 100%;
    border: none;
    background-color: black;
  }

  @media screen and (min-width: 60rem) {
    width: 500px;

    input {
      width: 90%;
    }
    button {
      width: 10%;
    }
  }
}

main {
  margin-top: 2rem;

  @media screen and (min-width: 60rem) {
    margin-top: 2.5rem;
  }
}

.infoContainer {
  width: 300px;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: white;

  @media screen and (min-width: 60rem) {
    display: flex;
    width: 750px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}

.infoBlock {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 60rem) {
    position: relative;
    margin-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 2.5rem;

    &:not(:first-child)::after {
      position: absolute;
      content: "";
      width: 1px;
      left: 0;
      top: 5px;
      bottom: 5px;
      background-color: $darkGray;
    }
  }
}

.title {
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $darkGray;

  @media screen and (min-width: 60rem) {
    margin-bottom: 1rem;
  }
}

.fetchedInfo {
  font-weight: 700;
}

#background {
  position: fixed;
  width: 100vw;
  height: 35vh;
  background-image: url(../images/pattern-bg.png);
  background-position-x: center;
  background-size: cover;
  z-index: -1;

  @media screen and (min-width: 60rem) {
    height: 32vh;
  }
}

#map {
  position: fixed;
  width: 100vw;
  height: 75vh;
  top: 35vh;
  z-index: -1;

  @media screen and (min-width: 60rem) {
    height: 68vh;
    top: 32vh;
  }
}
